<!DOCTYPE html>
<html>
<head>
	<title>User Login</title>
	<style>
		* {
			font-family: verdana;
		}
		.button {
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 5px 15px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
	</style>
	</head>
	<body style='font-family="verdana"'>
		{% if user %}
			<center><p>{{ Welcome }} {{ myuser.username }}</p></center>
			<center><a href="{{ url }}" class="button">Logout</a></center>
			<br>
			<center><a href="{{ edit_url }}" class="button">Edit/Update Details</a>

			<center><a href ="/tweetPost" class="button">Tweet Post</a></center>
			<br>

	<center><a href = "/viewfollow?view=Followers" class="button">Followers</a>
	<a href = "/viewfollow?view=Following" class="button">Following</a></center>
	<br>

	<form method="post" action="/">
		<input type="text" name="searchname">
		<input type="submit" name="button" value="Search User" class="button">
	</form>

	<br>

	<form method="post" action="/">
		<input type="text" name="searchtweet">
		<input type="submit" name="button" value="Search Tweet" class="button">
	</form> <br>

	{% if empty %}
		No Tweets To be displayed in your timeline
	{% else %}
		Your Timeline's last 50 tweets
		<br><br>
		{% for x in list %}
			{{ loop.index }} ) {{ x.text }}
			{% if x.blobkey!=None %}
				<form method="get" action="/">
					<img src="http://localhost:8080/_ah/img/{{ x.blobkey }}">
					<!-- <input type="submit" name="button" value="Download" class="button"> -->
					<input type="hidden" name="index" value="{{ loop.index - 1 }}"/>
				</form>
			{% endif %}
			<br>
		{% endfor %}
	{% endif %}

	{% else %}
		<center><p>Hello Welcome to Twitter.
				You can <a href="{{ url }}" class="button">Login</a> here</p></center>
	{% endif %}
	</body>
</html>
