<!DOCTYPE html>
<html>
<head>
	<title>Search Tweet</title>
	<style>
		* {
			font-family: verdana;
		}
		.button {
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 5px 15px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
	</style>
	</head>
	<body style='font-family="verdana"'>
		<center>
			{% if tweetlist|length > 0 %}
				{% for x in tweetlist %}
					{{ loop.index }} ) {{ x[0].text }}
					<br> by {{ x[1] }} <a href="/viewpage?username={{ x[1] }}&prevsearch={{ tweet }}&tou=tweet" class="button">View Profile</a>
					{% if x[0].blobkey!=None %}
						<form method="post" action="/searchtweet">
							<img src="http://localhost:8080/_ah/img/{{ x[0].blobkey }}" >
							<!-- <input type="submit" name="button" value="Download" class="button"> -->
							<input type="hidden" name="index" value="{{ loop.index - 1 }}"/>
						</form>
					{% endif %}
					<br><br>
				{% endfor %}
			{% else %}
				No Tweets Found
			{% endif %}

			<form method="post" action="/searchtweet">
				<input type="text" name="searchtweet">
				<input type="submit" name="button" value="Search Again" class="button">
				<input type="submit" name="button" value="Home" class="button">
			</form>
		</center>
	</body>
</html>
