<!DOCTYPE html>
<html>
<head>
	<title>Timeline</title>
	<style>
		* {
			font-family: verdana;
		}
		.button {
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 5px 15px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
	</style>
	</head>
	<body style='font-family="verdana"'>
		<center>
			{% if empty %}
				No Tweets To be displayed in your timeline
			{% else %}
				Your Timeline's last 50 tweets
				<br><br>
				{% for x in list %}
					{{ loop.index }} ) {{ x.text }}
					{% if x.blobkey!=None %}
						<form method="get" action="/viewtimeline">
							<input type="submit" name="button" value="Download" class="button">
							<input type="hidden" name="index" value="{{ loop.index - 1 }}"/>
						</form>
					{% endif %}
					<br>
				{% endfor %}
		{% endif %}
	<br>
	<br>
	<form method="post" action="/viewtimeline">
		<input type="submit" name="button" value="Home" class="button">
	</form>
</center>
</body>
</html>
